{% extends "base.html" %}

{% block content %}
	{% if project_list %}
		{% for project in project_list %}
			<section>
				<header>
					<h1>{{ project.title }}</h1>
				</header>
	
				<p>Created <time>{{ project.creation_date|date:"M Y" }}</time></p>
				{% if project.finish_date %}
				<p>Completed <time>{{ project.finish_date|date:"M Y" }}</time></p>
				{% else %}
				<p>In progress</p>
				{% endif %}
	
				<p>{{ project.description }}</p>
	
				<p>Tools: {{ project.skills.all | join:", " }}</p>
				{% if project.site %}
				<div>
					<a href="{{ project.site }}" target="_blank">Homepage</a>
				</div>
				{% endif %}
				{% if project.source %}
				<div>
					<a href="{{ project.source }}" target="_blank">Source</a>
				</div>
				{% endif %}
				{% if project.demo %}
				<div>
					<a href="{{ project.demo }}" target="_blank">Live demo</a>
				</div>
				{% endif %}
				{% for image in project.projectimage_set.all %}
				<img src="{{ image.image.url }}" alt="{{ image.image_text }}">
				{% endfor %}
			</section>
		{% endfor %}
	{% else %}
		<p>No projects are available.</p>
	{% endif %}
{% endblock content %}
